# Python
__pycache__/
*.pyc
.venv/
.env
.env.*
dist/
build/

# R
.Rhistory
.Rproj.user
.RData
.Ruserdata
.Rprofile
.Rproj

# Data & artifacts
data/
!data/.gitkeep
downloads/
tmp/
*.zip
*.gz
*.7z
*.rar
*.parquet
*.feather
*.csv

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
.idea/
